
/*style responsivo*/

@media screen and (max-width: 890px){

.layout-responsivo{
    background-color:#ebe6e6;
    width: 890px;
    margin: auto;
}

.menu-superior-responsivo{
    width: 100%;
}

.menu-cabeçalho{
display: none;
}

.titulo-melhores-produtos{
    font-size: 30px;
}

#caixa-de-buscar{
    width: 500px;
}

.menu-main{
    font-size: 17px;
}

/* main caixa de produtos */

.main-caixa-de-produtos{
    display: none;
}


.caixa-de-produtos{
    margin-top: 50px;
    background-color:#ebe6e6; /* aquiiii*/
    display: block;
    gap: 28px;
    justify-content: center;
}

.main-colum-caixa-de-produtos-para-telas-de-tablets{
    display: flex;
    gap: 58px;
    justify-content: center;
    margin-top: 50px;
}

.main-caixa-de-produtos-para-telas-de-tablets{
    display: block;
}

.main-caixa-de-produtos-para-telas-de-celulares{
    display: none;
}

/* footer painel de menu */

.painel-de-menu{
    background-color:  #0143b6;
    width: 100%;
    height: 60px;
    display: flex;
}

.icons-menu{  
    width: 40px;
    margin: 80px;
    padding-top: 5px;
}

/* footer final do site */

.footer-final-do-site{
    background-color: #0143b6;
    width: 100%;
    left: 0%;
    height: 1018px;
}

.layout-para-telas-menores-final-do-site{
    width: 100%;
    display: flex;
    gap: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.layout-responsivo-final-do-site{
    display: none;
}

.colum-para-telas-menores-final-do-site{
    margin-top: 150px;
}


}


/*style responsivo celulares*/

@media screen and (max-width: 600px){

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.layout-responsivo{
        background-color:#ebe6e6;
        width: 100%;
        margin: auto;
}

.menu-cabeçalho-estação-do-ano{
    width: 35px;
    height: 35px;
    margin-top: 0px;
    padding-top: 7px;
    margin-right: 25px;
}
    
.menu-cabeçalho{
    display: none;
}

.menu-superior{
    height: 50px;
}

.titulo-h-imports{
    color: #c8c8c8;
    font-size: 23px;
    margin-left: 15px;
    margin-top: 2px;
}

header{
    margin-left: 15px;
}

.titulo-melhores-produtos{
    margin-top:80px;
    font-size: 27px;
    margin-left: 2px;
    color: #0860ca;
}

#caixa-de-buscar{
    width: 300px;
    background-color: rgb(188, 188, 201);
    height: 40px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
}

#input-de-buscar{
    width: 550px;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 14px;
    color: rgb(14, 35, 61);
    background-color: rgb(188, 188, 201); 
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.icone-lupa{
    padding: 8px;
    color: rgb(0, 26, 255);

}

.menu-main{
    font-size: 15.5px;
    gap: 25px;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;  
}

.li-menu{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;  
}

/* main caixa de produtos */


.main-caixa-de-produtos-para-telas-de-tablets{
    display: none;
}

.main-colum-caixa-de-produtos-para-telas-de-celulares{
    display: block;
    gap: 58px;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    
}

.caixa-de-produtos{
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0px;
}

.main-caixa-de-produtos-para-telas-de-celulares{
    display: grid;
    width: 100%;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.conteiner{
    width: 283px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 50px;
}

.img-produtos{
    width: 283px;
    height: 225px;
    padding: 1px;
    border-radius: 5px 5px 0px 0px;
}

.text-conteiner{
    display: block;
    margin-top: 20px;
}

.titulo-tenis-air-force{
    color: #373737;
    margin-left: 7px;
    font-size: 17px;
    padding-right: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.paragrafo-tenis-air-force{
    margin-top: 20px;
    margin-left: 7px;
    font-size: 14px;
    color: #151517;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.preço{
    margin-left: 10px;
    margin-top: 30px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.area-favorito-e-compra{
    display: flex;
    justify-content: space-between;
}

.btn-carrinho{
    height: 27px;
    border-radius: 5px;
    padding: 2px;
    margin-right: 20px;
}

.btn-de-comprar{
    color: rgb(239, 239, 239);
    background: rgb(0, 26, 255);
    width: 100px;
    height: 40px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    padding-top: 12px;
    padding-left: 10.5px;
    margin-right: 25px;
    margin-left: auto;
    margin-top: 22px;
    display: flex;
}

.btn-de-comprar:focus{
    background: rgb(0, 20, 200);
}

.btn-de-comprar:hover{
    background: rgb(3, 20, 175);
}

/* conteineir de endereço */

#painelEndereco0,  #painelEndereco1,  #painelEndereco2,  #painelEndereco3, #painelEndereco4,  #painelEndereco5,  #painelEndereco6, #painelEndereco7,  #painelEndereco8,  #painelEndereco9, #painelEndereco10, #painelEndereco11, #painelEndereco12, #painelEndereco13, #painelEndereco14, #painelEndereco15, #painelEndereco16, #painelEndereco17, #painelEndereco18, #painelEndereco19, #painelEndereco20, #painelEndereco21,#painelEndereco22, #painelEndereco23, #painelEndereco24, #painelEndereco25, #painelEndereco26, #painelEndereco27, #painelEndereco28, #painelEndereco29, #painelEndereco30 {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-formulario{
    background-color: rgb(255, 255, 255);
    height: 630px;
    width: 340px;
    border-radius: 10px;
    display: block;
}

.titulo-formulario-border{
    background-color: #0860ca;
    border-radius: 10px 10px 0px 0px;
    height: 43px;
}

.btn-voltar-e-titulo-formulario{
    display: flex;  
}

.img-btn-voltar-formulario{
    width: 25px;
    background-color: #0860ca;
    border-radius: 5px;
}

.caixa-btn-voltar-formulario{ 
    margin-left: 6px;
    margin-top: 9px;
    width: 24px;
    height: 21px;
    border: none;
    background-color: #0860ca;
    border-radius: 3px;
}

.titulo-formulario{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    margin-left: 23px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.inputs-do-formulario{
    margin-top: 0px;
    margin-left: 21px ;
    font-size: 13px;
    color: #2b5b95;
}

.conteiner-inputs{
    margin-top: 16px;       
}

.caixa-de-inputs{
    margin-top: 10px;
    width: 285px;
    height: 35px;
    padding-left: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.display-rua-numero-da-casa{
    display: flex;
    margin-top: 1px;
}

.caixa-de-inputs-rua{
    margin-top: 10px;
    width: 210px;
    height: 35px;
    padding-left: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.caixa-de-inputs-numero-casa{
    margin-top: 10px;
    width: 60px;
    height: 35px;
    padding-right: 7px;
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

/*checkboox-formulario*/

.checkbox-formulario{
   display: flex;
   background-color: #ffffff; 
   width: 292px;
   height: 35px;
   margin-top: 25px;
   border: 1px solid rgba(0, 0, 0, 0.199);
   border-radius: 5px;
   font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.pix-img{
    width: 25px;
    height: 25px;
    padding: 5px;
}

.pix-titulo{
    color: #535353;
    padding: 7px;
}

.pix-checkbox{
    margin-left: auto;
    margin-right: 8px;
    width: 17px;
}

.chave-pix-formulario{
    font-size: 9px;
    color: #535353;
    padding: 6px;
    text-align: center;
    background-color: #ffffff; 
    width: 277px;
    height: 20px;
    margin-top: 18px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 5px;
}

.btn-formulario{
    width: 287px;
    height: 35px;
    margin-left: 6px;
    margin-top: 20px;
    background-color: #0f9b08;
    color: #ebe9e9;
    border-radius: 5px;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.btn-formulario:hover{
    cursor: pointer;
    background-color: #7fa97d;
}

.valor-total-painel-endereço{
    color: #2c5275;
    font-size: 11px;
    margin-left: 150px;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

/* Painel carrossel */

.naver-carrossel{
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.carrossel {
    position: relative;
    width: 350px;
    height: 350px;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carrossel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-image {
    width: 100%;
    object-fit: cover;
    height: 420px;
}

.carrossel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0860ca;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.left {
    left: 5px;
}

.right {
    right: 5px;
}

.carrossel-nav:hover {
    background-color: #3c88e6;
}


/* footer painel de menu */

.painel-de-menu{
    background-color:  #0143b6;
    width: 100%;
    height: 60px;
    display: flex;
    gap: 60px;
}

.icons-menu{  
    width: 30px;
    margin: 0;
    padding-top: 5px;
}


/* footer final do site */

.footer-final-do-site{
    background-color: #0143b6;
    width: 100%;
    left: 0%;
    height: 715px;
}

.layout-para-telas-menores-final-do-site{
    width: 100%;
    display: flex;
    gap: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.layout-responsivo-final-do-site{
    display: none;
}

.colum-para-telas-menores-final-do-site{
    margin-top: 80px;
}



}




